.headingNavigation {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #808080;
  text-align: center;
}

.navigation {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlelogo{
  height:30px;
  width:30px;
  margin: 0px 12px 0px 2px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  text-decoration:none;
}

.titlelogo:hover{
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-decoration:none;
}
